// Import Bootstrap Icons
@import "bootstrap-icons/font/bootstrap-icons";

// Import Bootstrap
@import "bootstrap/scss/bootstrap";

// Test styles
.test-vite {
  background-color: pink;
  padding: 20px;
  color: white;
  border-radius: 0.5rem;
  margin: 1rem;
}

// Your custom styles below 